*{
    box-sizing: border-box;
}
body{
    background-color:blanchedalmond ;
    width: 1000px;
    margin: 0 auto;
    height: fit-content;
}

/* grid style */

.mainpage{
    gap: 3px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'header header header'
    'article article aside'
    'fooder fooder fooder'
    ;
    grid-template-rows:120px;
    grid-template-columns: 4fr 0.5fr 2fr;
}

.header{
    /* width: 100%; */
    grid-area: header;
}
.article{
    margin-top: 100px;
grid-area: article;
}
.aside{
    margin-top: 50px;
    width: 100%;
    grid-area: aside;
}
.fooder{
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    grid-area: fooder;
}

/* navigation style */

ul{
    position: relative;
    top: 20px;
    color: rgb(89, 91, 94);
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    padding:15px 25px 15px 25px;
    margin-right:10px;
}
li:nth-child(6){
    background-color: green;
    border-radius: 4px;
    color: black;
}
li:nth-child(5){
    margin-left:auto;
background-color:rgb(3, 156, 3);
color: black;
border-radius: 4px;
}
li:nth-child(1):hover,li:nth-child(2):hover,li:nth-child(3):hover,li:nth-child(4):hover{
 color: white;
 background-color: green;
 font-weight:bold;
 box-sizing: border-box;
}

/* article */
.article div{
    margin-top:20px;
margin-left:35px;
    width:600px;
    
}
h2{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    letter-spacing:2px;
}
.article div>h2~h2{
    color:orange;
}
.article h4{
    width:500px;
    color: rgb(41, 40, 40);
    font-size: 14px;
    line-height: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.article a{
text-decoration: none;
color: black;
padding:8px 20px;
border-radius: 4px;
background-color: rgb(7, 73, 7);
color: white;
font-weight: bolder;
}

.article >div>h5{
     margin:20px 0 20px 0;
     padding:15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing:1px;
}
h5>img{
    position: relative;
    top:5px;
    width:20px;
    margin-left:10px;
}

  /*fooder*/

  .fooder h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
.fooder div{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:60px ;
}


@media screen and (max-width:600px) {
 
}